body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #082f49;
    margin: 0;
}

/* * {border: 1px solid red;} */

a {
    color:white;
}

.header {
    background-color: #075985;
    color: white;
    padding-bottom: 25px;
    padding-top: 10px;

    text-align: center;
}

.header button, #submitForm {
    background-color: #facc15;
    padding: 1rem;
    font-weight: 700;
    border: none;

    border-radius: 10px;
}

.header button:hover, #submitForm:hover {
    background-color: yellow;
}


#main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}



#cards {
    display: grid;
    
    grid-auto-rows: 6rem;
    gap: 10px;

    margin-bottom: 100px;
}

.card {
    background-color: aliceblue;
    position: relative;

    text-align: center;

    margin: 10px;
    padding: 1rem;
    padding-bottom: 4rem;
    padding-top: 0;
    margin-right: 10vw;
    margin-left: 10vw;
}

.closeCard {
    position: absolute;
    top: 0;
    right: 0;
    background-color: maroon;
    color: white;
    border: none;
}


#modalForm {
    display:grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;

}

#modalForm label, input {
    font-size: 1.3rem;
}

#myDialog {
    position: fixed;
    border-radius: 10px;
    border: none;
    width: 80vw;

}

#submitForm {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 20vw;
    margin-right: 20vw;
}

#closeDialog {
    position: absolute;
    right: 0;
    top: 0;
    background-color: maroon;
    color: white;
    border:none;
}

.closeCard:hover, #closeDialog:hover {
    background-color: red;
}

#myDialog input {
    width: 60vw;
}

@media only screen and (min-width: 700px) {
    #cards {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 7rem;
        gap: 15px;
        margin-left: 10vw;
        margin-right: 10vw;
    }

    .card {
    margin: 0;

    }
}